li {
    list-style-type: none;
}

.wrapper {
    width: 1200px;
    height: 671px;
    margin: auto;
    border: 1px solid black;
}

.search {
    margin: auto;
    width: 750px;
    height: 150px;
    text-align: center;
}

.searchbar {
    width: 500px;
}

.searchsuggestiondropdown-closed {
    display: none;
}

.searchsuggestiondropdown-open {
    position: absolute;
    display: block;
    width: 504px;
    left: 547px;
    text-align: left;
    border: 1px solid black;
    background-color: #F1F1F1;
}

.nyggjanSang {
    float: left;
    padding-left: 123px;
    padding-top: 2px;
}

#autocomplete-list {
    position: relative;
    top: -15px;
    left: -35px;
    list-style-type: none;
}

#autocomplete-list li {
    padding-top: 5px;
}

#list {
    width: 294px;
    height: 480px;
    float: left;
    border: 1px solid black;
}

#undansyning {
    width: 300px;
    height: 480px;
    float: left;
    border: 1px solid black;
    overflow: auto;
}

#actual {
    width: 300px;
    height: 480px;
    float: left;
    border: 1px solid black;
    overflow: auto;
}

#preview_boxes {
    width: 300px;
    height: 500px;
    float: left;
}

#preview_window {
    width: 300px;
    height: 250px;
    float: left;
    border: 1px solid black;
}

#preview_window_wrapper {
    color: #FFFFFF;
    background-color:#000000;
}

#preview_window_text {
    font-size: 80%;
    text-align: center;
}

#framsyning_vindeyga {
    width: 300px;
    height: 228px;
    float: left;
    border: 1px solid black;
}

#actual_window {
    width: 300px;
    height: 248px;
    float: left;
    border: 1px solid black;
}

.sang_innihald {
    width: 350px;
}

#sang-broytari > ul {
    margin-left: -25px;
}

#vers_haldari {
    margin-left : -40px;
}

/* Akkord skipanin */
.musIkkiYvir {
    background-color: #FFFFFF;
    color: #000000;
}

.musYvir {
    background-color: blue;
    color: #FFFFFF;
}

.akkord {
    color: #000000;
    background-color: #FFFFFF;
    position:absolute;
    top:-1em;
    z-index:-1;
}

.akkordMusYvir {
    color: #FFFFFF;
    background-color: blue;
    position:absolute;
    top:-1em;
    z-index:-1;
}

.musIkkiYvir .musYvir {
    z-index: 0;
}

.akkordVeljiListi {
    list-style-type: none;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 0px 40px 0px 3px;
    margin: 0px;
    z-index: 100;
}

.sangPlass {
    margin: 20px 0px 0px 5px;
}